@page "/"
@using Kowloon.Core;
@implements IDisposable

<div class="app-name">
    九龍
</div>
<div class="kowloon">
    @{
        int apartmentIndex = 0;
        double x = -KowloonConfig.MinimumLeftOffset;
    }
    @foreach ((double offset, int width) in KowloonConfig.RowDescriptions)
    {
        x += offset;
        <div class="rowStart" style="width: @(x.ToString("0.##"))em"></div>

        for (int i = 0; i < width; i++)
        {
            int thisApartmentIndex = apartmentIndex;
            <div class="apartment" style="background-color: @(Program.Kowloon.Apartments.GetCssColor(thisApartmentIndex))" @onclick="e => Program.Kowloon.Apartments.CycleApartment(thisApartmentIndex)"></div>
            apartmentIndex++;
        }
    }
</div>

@code
{
    protected override void OnInitialized()
        => Program.Kowloon.Apartments.ApartmentColorsChanged += ApartmentColorsChanged;

    private void ApartmentColorsChanged()
        => InvokeAsync(StateHasChanged);

    public void Dispose()
        => Program.Kowloon.Apartments.ApartmentColorsChanged -= ApartmentColorsChanged;
}
