@page "/"
@using Kowloon.Core;

<div class="app-name">
    九龍
</div>
<div class="kowloon">
    @{
        int apartmentIndex = 0;
        double x = -KowloonConfig.MinimumLeftOffset;
    }
    @foreach ((double offset, int width) in KowloonConfig.RowDescriptions)
    {
        x += offset;
        <div class="rowStart" style="width: @(x.ToString("0.##"))em"></div>
        
        for (int i = 0; i < width; i++)
        {
            int thisApartmentIndex = apartmentIndex;
            <div class="apartment" @onclick="e => Program.Kowloon.Apartments.CycleApartment(thisApartmentIndex)"></div>
            apartmentIndex++;
        }
    }
</div>
