[Unit]
Description=Kowloon
After=network.target
 
[Service]
PassEnvironment=HOME
WorkingDirectory=/opt/kowloon
ExecStart=/opt/dotnet/dotnet Kowloon.dll
KillSignal=SIGINT

Restart=on-failure

[Install]
WantedBy=multi-user.target
